
<nav class="bg-red-300 p-4 h-[10vh] text-3xl flex items-center justify-between gap-10 font-bold " >
   <p>
    <a class="ps-10 hover:text-white" href="/">Home</a>
    <a class="ps-10 hover:text-white" href="/about">About</a>
   </p> 
   <p>
    <a class="pe-10 hover:text-red-500" href="/login">Login</a>
   </p>
    
</nav>