
<nav class="bg-sky-200 p-4 text-3xl flex items-center justify-between gap-10 font-bold " >
    <a class="ps-10 hover:text-red-400" href="/">Home</a>
    <a class="pe-10 hover:text-red-500" href="/login">Login</a>
</nav>