<!-- header of body -->
<%-include("partials/header")%>

<!-- nav of body -->
<%-include("partials/nav")%>

<!-- here the content present in body or page -->
 <div class="w-[80%] h-[70vh] bg-red-400 m-auto mt-10 flex flex-col items-center justify-center rounded-2xl border-4">
   <h1 class="w-[50%] text-center font-bold text-6xl text-black-500 py-10 ">This Is Home Page</h1>

   <p class="flex justify-center items-center gap-10 text-xl pt-7 font-normal">
    <a class="bg-blue-400 px-8 py-3 rounded-2xl border-2 hover:text-white hover:bg-cyan-300" href="">Comtinue Surfing</a>
    <a class="bg-blue-400 px-8 py-3 rounded-2xl border-2 hover:text-white hover:bg-cyan-300" href="">Start your Journey here</a>
   </p>
  
 </div>


<!-- footer of body- -->
<%-include("partials/footer")%>
