<!-- header of body -->
<%-include("partials/header")%>

<!-- nav of body -->
<%-include("partials/nav")%>

<!-- here the content present in body or page -->
 <div class="w-[80%] h-[70vh] bg-[url('https://images.unsplash.com/photo-1714108671525-a8f722f30632?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center m-auto mt-10 flex flex-col items-center justify-center rounded-2xl border-4">
   <h1 class="text-center font-bold text-8xl text-black-500 ">This is home page </h1>
   <p class="flex justify-center items-center gap-10 text-4xl pt-7 font-normal">
    <a class="bg-blue-400 px-8 py-3 rounded-2xl border-2 hover:text-white hover:bg-cyan-300" href="">Sign UP</a>
    <a class="bg-blue-400 px-8 py-3 rounded-2xl border-2 hover:text-white hover:bg-cyan-300" href="">Sign In</a>
   </p>
  
 </div>


<!-- footer of body- -->
<%-include("partials/footer")%>
