<!-- header of body -->
<%-include("partials/header")%>

<!-- nav of body -->
<%-include("partials/nav")%>

<!-- here the content present in body or page -->
<h1 class="w-[80%] bg-red-300 m-auto text-center font-bold text-6xl rounded-2xl text-red-600 py-3 my-4 ">Home Page</h1>
 <div class="w-[80%] h-[60vh] bg-red-300 m-auto mt-10 flex flex-col items-center justify-center rounded-2xl border-4">
   
  <h1 class="w-[60%]  m-auto text-center font-bold text-2xl rounded-2xl text-white py-3 my-4 ">"Every journey begins with the first step of articulating the intention, and then becoming the intention." <br>"Though no one can go back and make a brand new start, anyone can start from now and make a brand new ending."</h1>
   <p class="flex justify-center items-center gap-10 text-xl pt-7 font-normal">
    <a class="bg-blue-400 px-8 py-3 rounded-2xl border-2 hover:text-white hover:bg-cyan-300" href="">Comtinue Surfing</a>
    <a class="bg-blue-400 px-8 py-3 rounded-2xl border-2 hover:text-white hover:bg-cyan-300" href="">Start your Journey here</a>
   </p>
  
 </div>


<!-- footer of body- -->
<%-include("partials/footer")%>
